# Node.js
node_modules/

# Logs
logs
*.log

# Dependency directories
lib/
bin/
*.md

# Local environment variables
.env

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
